<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/css/alertify.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <script src="/public/lib/jquery-3.0.0.min.js"></script>
    <script src="/public/lib/alertify.min.js"></script>
</head>

<body>
    <header>
        <a href=/>home</a>
        <a href=/login>login</a>
    </header>

    <section id="content-body">
        {{{body}}}
    </section>

    <footer>
        <p>Placeholder Footer</p>
    </footer>
</body>
</html>
