<section>
	<h1>{{Title}}</h1>
</section>

<h1>Custom Entry</h1>

<section>
	<form method="post">
		<p><input type="text" name="movie" value="" placeholder="Movie Title"></p>
    	<input type="submit" value="OK">
    </form>
</section>